# dependencies
node_modules/

# next.js
.next/
out/
next-env.d.ts
*.tsbuildinfo

# env files (keep .env.example)
.env
.env.local
.env.*.local

# editor folders
.vs/
.vscode/
.idea/

# logs / os
npm-debug.log*
.DS_Store
Thumbs.db
